
html {
    background-color: #6e8783;

}
h1 {
    font-family: 'Raleway', sans-serif;
    color: #d8504a;
    margin: 0;
}

p {
    font-family: 'Noto Serif', serif;
    
}


img {
    width: 200px;
}

ol {
    padding: 1rem;
}
.box ol {
    list-style: none;
    background-color: #e5e5dc;
    display: flex;
    flex-direction: row;
}
    

.item {
    font-size: 2rem;
    padding: 1rem;
    color: #334259 ;
    
}

.container {
    display: grid;
    grid-template-areas: 
        'header header header'
        'sidebar content content'
        'footer footer footer';
    gap: 5px;
    width: 1000px;
}

.header {
    grid-area: header;
    background: #edddd0;
}


.footer {
    grid-area: footer;
    background-color: #edddd0;
}

.sidebar {
    grid-area: sidebar;
    background-color: #e5e5dc;
}

.content {
    grid-area: content;
    background-color: #edddd0;
    margin: 0;
}

div > ol {
    background: #e5e5dc;
    margin: 0;
}
